.full-screen .logo {
  font-size: 2rem;
  color: #fff;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.full-screen .navigation {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color 0.8s ease-in;
  z-index: 1000;
}
.full-screen.dark {
  background-color: rgba(159, 187, 246, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(2em);
  transition: background-color 0.3s ease-in;
}
.dropdown_menu li {
  list-style: none;
}
.navigation a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.dropdown_menu a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.a-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.a-nav:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.btn-login {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}
.navigation .btn-login {
  margin-left: 40px;
  transition: color 0.4s ease-in, background-color 0.4s ease-in;
}
.navigation .btn-login:hover {
  background-color: #fff;
  color: #14347d;
  transition: color 0.4s ease-out, background-color 0.4s ease-out;
}

.navigation .toggle_btn {
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
  transition: color 0.2s ease-out;
}
.navigation .toggle_btn:hover {
  color: #14347d;
  transition: color 0.5s ease-out;
}

.dropdown_menu {
  position: absolute;
  position: fixed;
  right: 2rem;
  top: 75px;
  right: 0;
  width: 300px;
  height: 0;
  background-color: rgba(159, 187, 246, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(2em);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-right: 50px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_menu .btn-login {
  width: 100%;
}
.dropdown_menu .btn-login:hover {
  color: #14347d;
  transition: color 0.5s ease-out;
}
.dropdown_menu.true {
  height: 260px;
}

/* responsive deesign */
@media (max-width: 830px) {
  .navigation a,
  .navigation .btn-login {
    display: none;
  }
  .navigation .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
    margin-top: 10;
  }

}

@media (max-width: 380px) {
  .dropdown_menu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 10px;
  }
  .full-screen .logo {
    margin-left: 15px;
  }
  .full-screen .navigation {
    margin-right: 15px;
  }

}

/* Modal*/
:where(.css-dev-only-do-not-override-mxhywb).ant-modal .ant-modal-content {
  background-color: rgba(159, 187, 246, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(2em);
  transition: height 0.2s ease;
}
