.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.contentTeacher {
  margin: 24px 80px  16px 80px ;
}
.site-layout-teacher {
  background-image: url("../../../../public/background-teacher.jpg");
  min-height: 100vh;
}

.layout-content-card {
  background-color: transparent;
  border-radius: 6px;
}
.layout-content-card .content {
  max-height: auto;
  min-height: auto;
  margin-top: auto;
}
.layout-content-card .btn-bottom {
  margin-top: 20px;
}

.menu-teacher {
  background-color: transparent;
  color: #fff;
}
.layout-teacher .sider-teacher {
  background: rgb(9, 9, 121);
  background: linear-gradient(rgb(0, 107, 20) 0%, rgb(0, 33, 64) 70%);
}
.header-teacher {
  background: rgba(0, 107, 20, 0.1);
  border: none;
  padding: 0;
}
.header-teacher .header-menu {
  background-color: transparent;
  justify-content: end;
  padding-right: 30px;
  font-size: 1.5em;
  font-weight: 500;
  color: #c0c0c0;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-nlf{
  z-index: 2;
  position: fixed;
  margin-right: 10px;
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* navbar */
.row-navbar-role {
  display: flex;
  justify-content: end;
  margin-right: 80px;
}
.link-navbar-role {
  margin-left: 40px;
}
.link-navbar-role a {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.link-navbar-role a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 14px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.link-navbar-role a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}