.card-redirect-t{
    background-color: rgba(150, 248, 176, 0.3);
}
.card-redirect-s{
    background-color: rgba(255, 106, 87, 0.3);
}
.plant{
    /* background-color: aqua; */
    padding: 0;
    display: flex;
    justify-content: center;
}