.bg-st-course {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-width: 100vh;
  min-height: 100vh;
  background-image: url("../../../../../public/background.jpg");
  background-size: cover;
  padding: 0 100px;
}